body {
    background-color: #e7f3fa;
}

.App {
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
    /*color: #fdd300;*/
}


.nav-pokeball {
    display: grid;
    grid-template-rows: auto auto 0;
}

nav {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    background: firebrick;
    color: white;
    border-style: solid;
    border-width: thick;
    border-color: transparent;
    border-bottom-color: black;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: x-large;
}

.nav-bottom {
    position: relative;
    min-height: 10vh;
    background: white;
}

.circle {
    position: relative;
    left: 50%;
    top: -17vh;
    display: inline-block;
    height: 10vh;
    width: 10vh;
    background: white;
    border-style: solid;
    border-width: thick;
    border-color: black;
    border-radius: 50%;
    text-decoration: none;
}

.pokemon-list {
    padding: 3%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.pokemon {
    text-align: center;
    display: block;
    height: 200px;
    margin: 7% auto;
    color: black;
    text-decoration: none;
    text-transform: capitalize
}

.img-list {
    display: block;
    height: 80%;
}

.type-list {
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.type {
    display: block;
    height: 70px;
    color: black;
    text-decoration: none;
    text-transform: capitalize
}

.pokemon-details {
    padding: 3%;
    display: grid;
    grid-template-columns: min-content auto;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
}

.img-details{
    display: block;
    height: 380px;
}

.text-details{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.details{

}

.poke-link-style {
    color: black;
    text-decoration: none;
}

.card{
    background: var(--background-color);
    border-radius: 20% 20% 40% 20%;
    padding: 10%;
}

.card-details{
    background: var(--background-color);
    height: 100%;
    border-radius: 20% 20% 40% 20%;
    padding: 30px 15px;
}

.nav-style{
    color: white;
    text-decoration: none;
}

.img-home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.button-load {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 25px;
    background: firebrick;

    position: relative;
    left: 50%;
    display: inline-block;
    height: 4vh;
    width: 15vh;
}

.button-load:active {
    box-shadow: 0 0 5px -1px #000000B2;
    background-color: #B22222AE;
}

.button-load:hover {
    box-shadow: 0 0 5px -1px #00000099;
}